*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    /* vh for the height of the page full according to the screen size */
    height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat_container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.chat_container{
    width: 100%;
    height: 80%;
    background-color: rgb(72, 73, 73);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    /* for makeing the chat container to be responsive we use overflow -y: auto; */
    overflow:auto;      
    position: relative;
}

.user-chat-box{
    width: 60%;
    position: relative;
    left: 40%;
}
.ai-chat-box{
    width: 60%;
}
.user-chat-area{
    width: 90%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.325);
    color: rgb(193, 214, 231);
    border-radius: 40px 0px 40px 40px;
    box-shadow: 2px 2px 10px black;
}

.teacher-chat-area{
    width: 50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.318);
    color: rgb(212, 224, 235);
    position: relative;
    left: 30px;
    border-radius: 0px 40px 40px 40px;
    box-shadow: 2px 2px 10px black;
}

#userImage{
    position: absolute;
    right: 35px;
    /* filter add shadow to the image */
    filter:drop-shadow( 2px 2px 10px black)
}

#AiImage{
    position: absolute;
    left: 0;
    filter:drop-shadow( 2px 2px 10px black)
}

.prompt-area{
    width: 100%;
    height: 20%;
    background-color: rgb(72, 73, 73); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prompt-area input{
    width: 50%;
    height: 80px;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 20px;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 10px black;
}

.prompt-area button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.566);
    border:none;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;        /* make a hand cursor in the img image */
    transition: 0.5;
}

.prompt-area button:hover{
    background-color: rgba(0, 0, 0, 0.268);
}

.load{
    filter:drop-shadow(4px 4px 10px black)
}

